<div class="row">
	<div class="container mt-5">
		<h1>About</h1>
		<p>Welcome to the About page!</p>
		<h2>About Me</h2>
		<p>My name is Charmane!, and I am a student in the BTT program. My student ID is 127192235.</p>
	</div>
</div>